

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFF;">
  <div class="container">
    <%= link_to "myInterestS", root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav navbar-right ">
        <li class="navbar-text " ><%= link_to 'Home', root_path %></li>
        <li class="navbar-text "><%= link_to 'About Us', home_about_path %></li>
        <% if user_signed_in? %>
           <li class="navbar-text "><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
           <li class="navbar-text  "><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <% else %>

          <li class="navbar-text  "><%= link_to "Login", new_user_session_path %></li>
          <li class="navbar-text "><%= link_to "Join", new_user_registration_path %></li>

        <% end %>

      </ul>

    </div>
  </div>
</nav>


